@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.landing-page {
    padding-bottom: 50px;
}

.padding-0{
    padding: 0 !important;
}
.bg-image {
    height: 100vh;
    width: 100%;
}

.logo {
    width: 40%;
    height: auto;
    margin-top: -250px;
    margin-bottom: -200px;
}



.p1{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
}

.p3{
margin: 20px;
font-size: 25px;
}

.highlight{
    padding: 15px 50px;
    background: #66336680;
    margin-top: 50px;
    border-radius: 10px;
}

.highlight p strong {
    color: lightgreen;
}

.button{
    margin-top: 50px;
padding: 10px 50px;
background: #663366;
border-radius: 15px;
font-size: 20px;
font-weight: 400;
}


form {
    background: #663366;
    width: 500px;
    margin: auto;
    color: white;
    padding: 20px;
}

.form-outline{
    background: #e0d3e8;
    border-radius: 5px;
}

input[type = text]{
    width: 80%;
    padding: 5px;
    font-size: 18px;
}
select{
    background: #e0d3e8;
}

.last-page{
    text-align: center;
    color: lightgreen;
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
}

.balloon{
    text-align: center;
}

.balloon img{
    background: #663366;
    width: 120px;
}

.others{
    font-size: 20px;
    padding: 20px;
    color: white;
    text-align: center;
}

.akan-names{
    padding: 20px;
    background: #663366;
    text-align: center;
    justify-content: center;
}

